<footer>
    <div class="futer">
        <section class="products-footer">
            <a href="/products"><h5>Productos</h5></a>
            
            <div class="product-list">
                <p>Remeras</p>
                <p>Pantalones</p>
                <p>Abrigos</p>
                <p>Accesorios</p>
            </div>
        </section>
        <section class="social-medias">
            <h5>Seguinos</h5>
            
            <div class="social-links">
                <div><a href="#"><i class="fab fa-facebook"></i></a></div>
                <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                <div><a href="#"><i class="fab fa-whatsapp"></i></a></div>
            </div>
        </section>
        <section class="contact-footer">
            <h5>Contactanos</h5>
            
            <div class="contact-links">
                <div><i class="far fa-envelope"></i><a href="#"> xperson@indefined.com</a></div>
                <div><i class="fab fa-whatsapp"></i><a href="#"> +54 (011) 2222-4444</a></div>
                <div><i class="fas fa-map-marker-alt"></i><a href="#"> CABA - Argentina</a></div>
            </div>
        </section>
    </div>
    <section class="copy-right">
        <p>© Copyright Indefined - 2021</p>
    </section>

</footer>