<section class="sec-carrousel">
    <i class="fas fa-arrow-left"></i>
    <article class="product">
        <img src="/images/productos/remeras/remera1.1.jpg" alt="REMERA THE NEW OLD SCHOOL [ PIRANHA N2 BLANCO ]">
        <div class="product-description">
                <i class="fas fa-shopping-cart"></i>
                <p class="p-name">nombre producto</p>
                <p class="p-price">precio</p>
                <p class="p-descuentos">20% off</p>
                <a href="products/<%= products.id %> "><button class="ver-btn">VER</button></a>
            </div>
        </article>

        <article class="product">
            <img src="/images/productos/accesorios/gorra-openmind-rosa.jpg" alt="gorra-openmind-rosa">
            <div class="product-description">
                <i class="fas fa-shopping-cart"></i>
                <p class="p-name">nombre producto</p>
                <p class="p-price">precio</p>
                <p class="p-descuentos">20% off</p>
                <a href="#"><button class="ver-btn">VER</button></a>
            </div>
        </article>

        <article class="product">
            <img src="/images/productos/abrigos/campera-district-naranja.jpg" alt="campera-district-narnaja">
            <div class="product-description">
                <i class="fas fa-shopping-cart"></i>
                <p class="p-name">nombre producto</p>
                <p class="p-price">precio</p>
                <p class="p-descuentos">20% off</p>
                <a href="#"><button class="ver-btn">VER</button></a>
            </div>
        </article>

        <article class="product">
            <img src="/images/productos/pantalones/pantalon-flex-negro.jpg" alt="pantalon-flex-negro">
            <div class="product-description">
                <i class="fas fa-shopping-cart"></i>
                <p class="p-name">nombre producto</p>
                <p class="p-price">precio</p>
                <p class="p-descuentos">20% off</p>
                <a href="#"><button class="ver-btn">VER</button></a>
            </div>
        </article>
        <i class="fas fa-arrow-right"></i>
</section>

<section class="ver-mas">
    <p>Ver más productos</p>
    <button type="submit"><i class="fas fa-arrow-down"></i></button>
</section>